<div class="content">
    <h3>Nouveau Projet</h3>

    <div class="form-group">
        <label for="newTitle">Titre du projet</label>
        <input type="text" name="newTitle" id="newTitle" placeholder="Titre du projet" [(ngModel)]="newTitle">
    </div>

    <div class="form-group">
        <label for="projectType">Type de projet</label>
        <select id="projectType" name="projectType" [(ngModel)]="projectType">
            <option value="static-simple">Static Simple</option>
            <option value="static-multiple">Static Multiple</option>
            <option value="api">API</option>
        </select>
    </div>

    <div class="form-group user-select-container">
        <label for="userId">Utilisateur</label>
        <div class="user-input-container">
            <input #userInput type="text" id="userId" autocomplete="off" autocorrect="off" autocapitalize="off"
                spellcheck="false" [(ngModel)]="userSearchTerm" (input)="filterUsers()" (click)="toggleUserList($event)"
                placeholder="Sélectionnez un utilisateur" value="{{selectedUser?.userName || ''}}" />
        </div>
        <div #userDropdown class="user-list" *ngIf="showUserList" (click)="$event.stopPropagation()">
            <div class="user-option" *ngFor="let user of filteredUsers" [class.selected]="selectedUserId === user.id"
                (click)="selectUserOption($event, user)">
                <strong>{{ user.userName }}</strong> - {{ user.email }}
            </div>
            <div *ngIf="filteredUsers.length === 0" class="no-results">
                Aucun utilisateur trouvé
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="newDescription">Description du projet</label>
        <textarea name="newDescription" id="newDescription" placeholder="Décrivez votre projet"
            [(ngModel)]="newDescription"></textarea>
    </div>

    <div class="form-group">
        <label for="projectUrl">URL du projet</label>
        <input type="url" name="projectUrl" id="projectUrl" placeholder="https://exemple.com" [(ngModel)]="projectUrl">
    </div>

    <div class="form-group">
        <div class="file-input">
            <label for="replyProjectFileInput">Ajouter des images</label>
            <input #replyProjectFileInput type="file" accept="image/*" name="commentPictures" multiple
                id="replyProjectFileInput">
        </div>
    </div>

    <button class="create-button" (click)="createProject()">Créer le projet</button>
</div>